.map-dot-hover-container {
  visibility: hidden;
}

.map-dot-container:hover .map-dot-hover-container {
  visibility: visible;
}

.image-max-height {
  max-height: calc(100vh - 9.5rem);
}

.grid-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-width: 1px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.search-results {
  display: none;
}

.search-results.visible {
  display: flex;
}

@media (min-width: 85.5rem) {
  .grid-item {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
