.map-dot-hover-container {
  visibility: hidden;
}

.map-dot-container:hover .map-dot-hover-container {
  visibility: visible;
}

.image-max-height {
  max-height: calc(100vh - 9.5rem);
}

.grid-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 48rem) {
  .grid-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}

@media (min-width: 85.5rem) {
  .grid-padding {
    padding: 0.75rem;
  }
}
